@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

.icon {
  background-size: contain;
  background-repeat: no-repeat;
}

.item {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 0px 68px;
  background-color: #FAFAFA;
  position: relative;
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  flex-direction: column;
}

.item-header {
  position: relative;
}

.item-header-img{
  width: 100%;
  max-height: 230px;
  object-fit: cover;
}

.item-btn-close {
  width: 15px;
  height: 15px;
  margin-left: auto;
  background-image: url(../images/close.png);
  position: absolute;
  top: 16px;
  right: 16px;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  padding: 0 24px;
  margin: 16px 0 6px;
}

.item-description,
.item-sauces div {
  color: #808080;
}

.item-description {
  margin-bottom: 32px;
  padding: 0 24px;
}

.item-option {
  padding: 0 24px;
}

.item-sauces {
  display: flex;
  margin: 8px 0;
}

.item-sauce {
  width: 50%;
  line-height: 36px;
  margin-right: 12px;
  background-color: #EFEAEA;
  border-radius: 10px;
  text-align: center;
}

.sauce-group>input {
  visibility: hidden;
  position: absolute;
}

.sauce-group>input+span {
  width: 168px;
  line-height: 36px;
  margin-right: 12px;
  background-color: #EFEAEA;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.sauce-group>input:checked+span {
  color: #FFFFFF;
  background-color: #D88B25;
}

.item-sauce:hover,
.item-sauce:focus,
.item-sauce:active {
  color: #FFFFFF;
  background-color: #D88B25;
}

.item-footer {
  max-width: 400px;
  width: 100%;
  margin-top: auto;
  padding: 28px 24px;
  border-top: 1px solid #BABABA;
  display: flex;
  align-items: center;
}

.item-footer-left {
  margin-right: 20px;
  width: 112px;
}

.item-price {
  display: flex;
  margin-bottom: 6px;
}

.item-price span {
  margin-left: auto;
}

.item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-count-minus,
.item-count-plus {
  width: 30px;
  height: 24px;
}

.item-count-minus {
  background-image: url(../images//minus.png);
}

.item-count-plus {
  background-image: url(../images//plus.png);
}

.item-btn-add {
  width: 220px;
  line-height: 48px;
  border: 1px solid #D88B25;
  border-radius: 10px;
  color: #D88B25;
  background-color: #EBEBEB;
  text-align: center;
}

.item-btn-add:hover,
.item-btn-add:focus,
.item-btn-add:active {
  color: #FFFFFF;
  background-color: #D88B25;
}