nav {
    width: 100vw;
    font-family: 'Noto Sans TC', sans-serif;
    position: fixed;
    bottom: 0;
}

.navbar {
    max-width: 400px;
    height: 68px;
    margin: 0 auto;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6E6E6E
}

.nav-item div{
    background-size: contain;
    background-repeat: no-repeat;
} 

.nav-item-menu {
    width: 18px;
    height: 18px;
    background-image: url(../images/menu.png);
}

.nav-cart {
    position: relative;
}

.nav-item-cart {
    width: 17px;
    height: 16px;
    background-image: url(../images/cart.png);
}

.nav-cart-hint {
    width: 9px;
    height: 9px;
    background-color: #DE3905;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 6px;
}

.nav-item-order {
    width: 15px;
    height: 16px;
    background-image: url(../images/order.png);
}

.nav-item-profile {
    width: 18px;
    height: 18px;
    background-image: url(../images/profile.png);
}

.nav-item-hint{
    width: 160px;
    height: 40px;
    background-image: url(../images/hint.png);
    position: absolute;
    bottom: 72px;
    right: 16px;
    display: none;
}